.header {
    background: rgb(170, 0, 255);
    color: white;
}

.game-container {
    width: 100%;
    height: 60vh;
    background: rgb(193, 255, 70);
}

.game-container div {
    width: 20px;
    height: 20px;
    background: rgb(230, 250, 190);
    display: inline-block;
}

.snake {
    background: green !important;
}

.food {
    background: red !important;
}
